<fieldset class="answer fields">
<%= f.label :content, "Answer", class: "control-label" %>
<%= link_to_remove_fields("(Remove)", f, class: "remove_answer_button") %>
<div class="fillanswer">
	<%= f.text_field :content, class: "form-control"  %>
</div>
<div class="tfanswer radio">
	<%= f.radio_button :content, 't' %>True
</div>
<div class="tfanswer radio">
	<%= f.radio_button :content, 'f' %>False
</div>
</fieldset>