<p class="fillanswer">
	<%= f.label :content, "Answer" %>
	<%= f.text_field :content  %>
</p>

<p class="tfanswer">
	<%= f.label :content, "Answer" %>
	<%= f.radio_button :content, 't' %>True
	<%= f.radio_button :content, 'f' %>False
</p>

<p class="multianswer">

</p>

<%= f.label :explanation, "Explanation" %>
<%= f.text_field :explanation %>