<fieldset class="answer fields">
<%= f.label :content, "Answer", style: "display: inline;" %>
<%= link_to_remove_fields("(Remove)", f, class: "add_remove_answer_link") %>
<p class="fillanswer">
	<%= f.text_field :content  %>
</p>
<p class="tfanswer">
	<%= f.radio_button :content, 't' %>True
	<%= f.radio_button :content, 'f' %>False
</p>
</fieldset>