<fieldset id="options">
	<%# f.label     :random, "Questions are in random order" %>
	<%# f.check_box :random, 		id: "random" %>
	<label class="checkbox"><%= f.check_box :allow_restart, id: "allow_restart" %> Allow users to restart the quiz</label>
	<label class="checkbox"><%= f.check_box :allow_delete, 	id: "allow_delete" %> Allow users to delete the quiz</label>
	<label class="checkbox"><%= f.check_box :allow_review, 	id: "allow_review" %> Allow users to review their answers</label>
	<label class="checkbox"><%= f.check_box :show_answer, 	id: "show_answer" %> Show the correct answer when users submit their answer</label>
	<label class="checkbox"><%= f.check_box :show_explaination, id: "show_explaination" %> Show the explaination when users submit their answer</label>
</fieldset>