<fieldset class="question_fields">
<h2>Question <%= question_index + 1 %></h2>
<%= f.hidden_field :_destroy %>
<%= link_to_function "Remove Question", "remove_question(this)" %>

<%= f.label :category, "Type" %>
<%= f.select :category, [['-- Choose a Type --', 'null'], ['True/False', 'tf'], ["Fill in the Blank", 'fill'], ["Multiple Choice Dropdown", "multi"], ["Multiple Choice Radio Button", "multiList"]], {}, onChange: "javascript: changeType(this)", class: "questiontype" %>

<%= f.label :content, "Question" %>
<%= f.text_field :content %>

<% question.answers.each_with_index do |answer, answer_index| %>
	<%= f.fields_for :answers, answer do |u| %>
		<%= render 'answer_fields', :f => u %>
	<% end %>
<% end %>

<%= link_to_function "Add Answer", "add_answer(this, #{question_index})", class: "add_remove_answer_link" %>

<%= f.label :explanation, "Explanation" %>
<%= f.text_field :explanation %>
</fieldset>