<%= form_for(@quiz) do |f| %>
	<div class="row">
		<%= render 'shared/error_messages', object: f.object %>
		<div class="span5">
			<fieldset>
			<%= f.label :name, "Title" %>
			<%= f.text_field :name, placeholder: "Name of your quiz" %>
			
			<%= f.label :description %>
			<%= f.text_field :description, placeholder: "Describe your quiz" %>
			
			<%= f.label :help_text, "Help Text" %>
			<%= f.text_field :help_text, placeholder: "Give a few hints for the quiz taker" %>
			</fieldset>
		</div>
		<div class="span4">
			<%= render 'option_fields', :f => f %>
		</div>
		<div class="span3">
			<%= f.submit "#{buttontext} my Quiz!", class: "btn btn-large btn-prmary" %>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset4">
			<% @quiz.questions.each do |question| %>
				<%= f.fields_for :questions, question do |u| %>
					<%= render 'question_fields', :f => u, :question => question %>
				<% end %>
			<% end %>
			<%= link_to_function "Add Question", 'add_question(this)' %>
		</div>
	</div>
<% end %>
<script>hideAnswers()</script>