<%= form_for(@quiz) do |f| %>
	<div class="row">
		<%= render 'shared/error_messages', object: f.object %>
		<div class="span5">
			<fieldset>
			<%= f.label :name, "Title" %>
			<%= f.text_field :name, placeholder: "Name of your quiz" %>
			
			<%= f.label :description %>
			<%= f.text_field :description, placeholder: "Describe your quiz" %>
			
			<%= f.label :help_text, "Help Text" %>
			<%= f.text_field :help_text, placeholder: "Give a few hints for the quiz taker" %>
			</fieldset>
		</div>
		<div class="span4">
			<fieldset>
				<h2>Options</h2>
				<%# f.label     :random, "Questions are in random order" %>
				<%# f.check_box :random, 		id: "random" %>
				<%= f.label     :allow_restart, "Allow users to restart the quiz" %>
				<%= f.check_box :allow_restart, id: "allow_restart" %>
				<%= f.label     :allow_delete, "Allow users to delete the quiz" %>
				<%= f.check_box :allow_delete, 	id: "allow_delete" %>
				<%= f.label     :allow_review, "Allow users to review the quiz" %>
				<%= f.check_box :allow_review, 	id: "allow_review" %>
				<%= f.label     :show_answer, "Show the correct answer when users submit their answer" %>
				<%= f.check_box :show_answer, 	id: "show_answer" %>
				<%= f.label     :show_explaination, "Show the answer explaination when users submit their answer" %>
				<%= f.check_box :show_explaination, id: "show_explaination" %>
			</fieldset>
		</div>
		<div class="span3">
			<%= f.submit "#{buttontext} my Quiz!", class: "btn btn-large btn-prmary" %>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset 4">
			<% @quiz.questions.each do |question| %>
				<%= f.fields_for :questions, question do |u| %>
					<%= render 'question_fields', :f => u %>
				<% end %>
			<% end %>
			<%= link_to_function "Add Question", 'add_question(this)' %>
		</div>
	</div>
<% end %>
