<%= form_for @quiz, html:{class: "form-horizontal"} do |f| %>
	<div class="row">
		<%= render 'shared/error_messages', object: f.object %>
		<div class="col-md-5">
			<fieldset>

			<div class="form-group">
				<%= f.label :name, "Title", class: "col-sm-3" %>
				<div class="col-sm-9"><%= f.text_field :name, placeholder: "Name of your quiz", class: "form-control" %></div>
			</div>

			<div class="form-group">
				<%= f.label :description, class: "col-sm-3" %>
				<div class="col-sm-9"><%= f.text_field :description, placeholder: "Describe your quiz", class: "form-control" %></div>
			</div>

			<div class="form-group">
				<%= f.label :help_text, "Help Text", class: "col-sm-3" %>
				<div class="col-sm-9"><%= f.text_field :help_text, placeholder: "Give a few hints for the quiz taker", class: "form-control" %></div>
			</div>
			</fieldset>
		</div>
		<div class="col-md-4">
			<%= render 'option_fields', :f => f %>
		</div>
		<div class="col-md-3">
			<%= f.submit "#{buttontext} my Quiz!", class: "btn btn-lg btn-success" %>
		</div>
	</div>
	<div class="row">
		<%= f.fields_for :questions do |u| %>
			<%= render 'question_fields', :f => u %>
		<% end %>
		<div class="span4 offset4 add_question_button">
			<%= link_to_add_fields("Add a Question", f, :questions, class: "btn btn-primary") %>
		</div>
	</div>
<% end %>
<script>hideAnswers()</script>