<%= form_for @quiz, html:{class: "form"} do |f| %>
	<div class="row">
		<%= render 'shared/error_messages', object: f.object %>
	</div>
	<div class="row">
		<fieldset>
			<div class="form-group" id="quiz-title">
				<%= f.label :name, "Quiz Title", class: "control-label input-xl" %>
				<%= f.text_field :name, placeholder: "Name of your quiz", class: "form-control input-xl" %>
			</div>
		</fieldset>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-push-9">
			<%= f.submit "#{buttontext} my Quiz!", class: "btn btn-lg btn-success submit", id: "submit-top" %>
		</div>
		<div class="col-md-5 col-md-pull-3">
			<fieldset>

			<div class="form-group">
				<%= f.label :description, "Quiz Description", class: "control-label" %>
				<%= f.text_field :description, placeholder: "Describe your quiz", class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :help_text, "Help", class: "control-label" %>
				<%= f.text_field :help_text, placeholder: "Give a few hints for the quiz taker", class: "form-control" %>
			</div>
			</fieldset>
		</div>
		<div class="col-md-4 col-md-pull-3">
			<%= render 'option_fields', :f => f %>
		</div>
	</div>
	<div class="row">
		<%= f.fields_for :questions do |u| %>
			<%= render 'question_fields', :f => u %>
		<% end %>
		<div class="col-md-8 col-md-offset-2 add_question_button">
			<%= link_to_add_fields("Add Question", f, :questions, class: "btn btn-primary add_button") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 submit">
			<%= f.submit "#{buttontext} my Quiz!", class: "btn btn-lg btn-success submit", id: "submit-bottom" %>
		</div>
	</div>
<% end %>
<script>hideAnswers()</script>