<tr>
	<td><%= quiz.name %></td>
	<td>
		<div class="btn-group">
			<%= link_to "Take",			quiz_path(quiz), class: "btn btn-default" %>
			<button type="button" class="btn btn-default">Share</button>
			<% if signed_in? %>
				<%= link_to "Edit",		edit_quiz_path(quiz), class: "btn btn-default" %>
				<%= link_to "Delete", 	quiz, 	method: :delete, 
												data: { confirm: "Are you sure?" }, 
												class: "btn btn-default" %>
			<% end %>
		</div>
		<div id="sharebuttons">
			<ul>
				<li>
					<%= link_to image_tag("fbsharebtn.png", alt: "Share on Facebook"), "#" %>
				</li>
				<li>
					<%= link_to image_tag("tweetbtn.png", alt: "Tweet on Twitter"), "#" %>
				</li>
				<li>
					<%= link_to image_tag("gplusbtn.png", alt: "Share on Google Plus"), "#" %>
				</li>
			</ul>
		</div>
	</td>
	<td><%= quiz.description %></td>
	<td><%= quiz.created_at.strftime("%B, %e %Y") %></td>
	<td>
		<% if quiz.access_count == nil %>
			0
		<% else %>
			<%= quiz.access_count %>
		<% end %>
	</td>
</tr>