<%= provide(:title, 'Home') %>
<div class="container">
	<div class="col-sm-12">
		<h1>Quiz Me</h1>
		<h2><small>An awesome online application for you to share quizzes!</small></h2>
	</div>
	<div class="col-sm-6" id="daily_quiz">
		<h2>Quiz of the Day</h2>
		<script src="<%= quizzes_path %>/<%= @quizzes.sample.unique_url %>.js" async></script>
	</div>
	<div class="col-sm-6" id="most_popular">
		<h2>Most Popular Quizzes</h2>
		<% if @quizzes.any? %>
			<% @quizzes.first(3).each do |quiz| %>
				<%= render "shared/quiz_layout", quiz: quiz %>
			<% end %>
		<% end %>
		<a href="<%= browse_path %>" class="btn btn-large btn-primary">Take a Different Quiz</a>
	</div>
</div>