<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
            </button>
			<%= link_to "Quiz Me", root_path, id: "logo" %>
		</div>
		<div class="collapse navbar-collapse">
			<nav>
				<ul class="nav navbar-nav pull-right">
					<%= nav_link "Home", root_path %>
					<%= nav_link "Browse Quizzes", browse_path %>
					<%= nav_link "About", about_path %>
					<% if signed_in? %>
						<%= nav_link "Update Your Profile", edit_user_path(current_user) %>
						<li><%= link_to "Logout", signout_path, method: "delete" %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>